*{ margin: -2px; padding: 0px; box-sizing: border-box;  overflow-x:  hidden;}


.background{
	width: 100%;
	
	background-image: url('images/back.png');
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0 auto;
}

.section_1{
	width: 33.3%;
	height: 235px;
	border: 2px solid rgba(255, 255, 255, 0.1);
	display: inline-block;
	text-align: left;
}


.section_1 img{
	margin-top: 46px;
	margin-left: 68px;
}



.section_2{
	width: 33.3%;
	height: 235px;
	border: 2px solid rgba(255, 255, 255, 0.1);
	display: inline-block;
	text-align: center;
}


.section_2 ul{
	margin-top: 42px;
}

.section_2 ul li{
	 display: inline;
	 margin: 0 20px;  
}


.section_2 ul li a{
	text-decoration: none;
	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 23px;
	color: #FFFFFF;

}





.section_3{
	overflow: hidden;
	width: 33.3%;
	height: 235px;
	border: 2px solid rgba(255, 255, 255, 0.1);
	display: inline-block;
	text-align: right;
	position: relative;

}





.menu{
	position: absolute;
	top: 36px;
	right: 58px;
	
	display: inline-block;
	width: 46px;
	height: 46px;
     cursor: pointer;
	transition: 0.5s;
		overflow: hidden;
}

.menu:hover{
    background: #F44242;
}

.menu img{
	margin: 10px;
}


.search{
	position: absolute;
	right: 130px;
	top: 47px;
	display: inline-block;
   cursor: pointer;
}


.section_4{
		overflow: hidden;
	width: 33.3%;
	height: 235px;
	border: 2px solid rgba(255, 255, 255, 0.1);
	display: inline-block;
	position: relative;

}


.section_4 h4{

	margin-top: 86px;
	margin-left: 68px;
	font-family: Rubik;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 34px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.sloi_2_1{
    width: 100%;
	height: 235px;
	position: absolute;
	background-color: #4285F4;
	top: 0;
	left: 0;
	display: flex;
	transition: 0.3s;
	opacity: 0;

}

.sloi_2_1:hover{
	opacity: 1;
}



.sloi_2_2{
    width: 100%;
	height: 235px;
	position: absolute;
	background-color: #F44242;;
	top: 0;
	left: 0;
	display: flex;
	transition: 0.3s;
	opacity: 0;

}

.sloi_2_2:hover{
	opacity: 1;
}

.text{
	width: 70%;
}

.text h3{
	font-family: Rubik;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 34px;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-left: 68px;
	margin-top: 54px;
}

.text h5{
	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 23px;
	color: #FFFFFF;
	margin-left: 68px;
	margin-top: 30px;
}


.text h6{
	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 23px;
	color: #FFFFFF;
	margin-left: 68px;
	margin-top: 15px;
}


.text div{
	width: 83px;
	height: 0px;
	border: 1px solid #FFFFFF;
	margin-left: 68px;
	margin-top: 3px;
}

.img{ text-align: right;
width: 30%;} 

.img img{
	margin-top: 58px;
	margin-right: 38px;
}

.section_5{
	width: 33.3%;
		overflow: hidden;
	height: 235px;
	border: 2px solid rgba(255, 255, 255, 0.1);
	display: inline-block;
	position: relative;

}


.section_5 h4{
	margin-top: 86px;
	margin-left: 68px;
	font-family: Rubik;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 34px;
	text-transform: uppercase;
	color: #FFFFFF;
}


.section_6{
	width: 33.3%;
	height: 235px;
	border: 2px solid rgba(255, 255, 255, 0.1);
	display: inline-block;
	position: relative;

		overflow: hidden;
}


.section_6 h4{
	margin-top: 86px;
	margin-left: 68px;
	font-family: Rubik;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 34px;
	text-transform: uppercase;
	color: #FFFFFF;

}


.section_7{
	width: 33.3%;
	height: 235px;
	border: 2px solid rgba(255, 255, 255, 0.1);
	display: inline-block;
	position: relative;
			overflow: hidden;

}



.section_7 h4{
	margin-top: 86px;
	margin-left: 68px;
	font-family: Rubik;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 34px;
	text-transform: uppercase;
	color: #FFFFFF;

}


.section_8{
	width: 33.3%;
	height: 235px;
	border: 2px solid rgba(255, 255, 255, 0.1);
	display: inline-block;
	position: relative;
		overflow: hidden;

}



.section_8 h4{
	margin-top: 86px;
	margin-left: 68px;
	font-family: Rubik;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 34px;
	text-transform: uppercase;
	color: #FFFFFF;
}


.section_9{
	width: 33.3%;
	height: 235px;
	border: 2px solid rgba(255, 255, 255, 0.1);
	display: inline-block;
	position: relative;
		overflow: hidden;

}



.section_9 h4{
	margin-top: 86px;
	margin-left: 68px;
	font-family: Rubik;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 34px;
	text-transform: uppercase;
	color: #FFFFFF;
		
}

.tools{
	font-family: Rubik;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 34px;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-left: 68px;
	margin-top: 100px;

}



.section_10{
	width: 33.3%;
	height: 235px;
	border: 2px solid rgba(255, 255, 255, 0.1);
	display: inline-block;
		overflow: hidden;

}



.footer_left{
	margin-top: 192px;
	margin-left: 68px; 
	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: rgba(255, 255, 255, 0.4);
}


.footer_right{
	text-align: right;
	margin-top: 192px;
	margin-right: 68px; 
	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: rgba(255, 255, 255, 0.4);
}

.section_11{
	width: 33.3%;
	height: 235px;
	border: 2px solid rgba(255, 255, 255, 0.1);
	display: inline-block;
		overflow: hidden;

}


.section_12{
	width: 33.3%;
	height: 235px;
	border: 2px solid rgba(255, 255, 255, 0.1);
	display: inline-block;
		overflow: hidden;

}


.close{
	text-align: right;
}

.close img{
	margin-top: 46px;
	margin-right: 68px;
	cursor: pointer;
}


.menu_2{
	
	width: 33.3%;
	height: 940px;
	position: absolute;
	top: 0;
	right: -33.3%;
	background: rgba(255, 255, 255, 0.96);
	transition: 0.5s;
	
}


.menu_2 ul li{
	list-style: none;
	margin-bottom: 40px;
}



.menu_2 ul {
	margin: 302px 0 0 239px;
}


.menu_2 ul li a{
	margin-left: 2px;
	text-decoration: none;
	font-family: Rubik;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 34px;
	text-transform: uppercase;
	color: #34363B;
	transition: 0.3s;
}



.menu_2 ul li a:hover{
	color: #F44242;
	text-decoration: underline;
	transition: 0.3s;
}






.modal{
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.96);
	display: none;
	top: 0;
	left: 0;
	position: fixed;



}




.modal p{ text-align: right; }



.close_img{
	margin: 46px 68px 0 0;
}




.modal_content{
	width: 930px;
	margin: 320px auto 0;
	position: relative;
}






.form_label{
	position: absolute;
	top: 0;
	left: 2px;
	z-index: 0;
	color: #9e9e9e;
	transition: 0.3s;
	font-family: Rubik;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	color: #34363B;
}


.form_input{
	width: 100%;
	padding:10px 0;
	outline: none;
	border-right: none;
	background-color: transparent;
	outline: none;
	border-bottom: 3px solid rgba(52, 54, 59, 0.2);
	transition: 0.3s;
	font-family: Rubik;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	color: #34363B;


}



.form_button{
     width: 100%;
     height: 100px;
	font-family: Rubik;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	text-transform: uppercase;
	color: #FFFFFF;
	cursor: pointer;
	transition: 0.3s;
	background-color: rgba(244,66, 66, 1);
    margin-top: 404px;
}

.form_button:focus, .form_button:hover{
		background-color: rgba(244,66, 66, 0.7);
}



.form_input:focus ~ .form_label,
.form_input:not(:placeholder-shown) ~ .form_label{
	top: -18px;
	font-size: 12px;
	color: #e0e0e0;
}




.mobile{
	display: none;
	overflow: visible;
}



.mobile_section_1{
	width: 100%;
	height: 696px;
	background-image: url('images/back.png');
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;

}


.search_mobile{
	position: absolute;
	top: 81px;
	right: 60px;
	width: 78px;
	height: 78px;
}


.menu_mobile{
	position: absolute;
	top: 81px;
	left: 60px;
	width: 78px;
	height: 78px;
}



.google{
	text-align: center;
	margin-top: 345px;
}

.google img{
	width: 168px;
	height: 171px;
}

.mobile_section_2{
	width: 100%;
	height: 696px;
	background-color: #4285F4;

}


.mobile_section_3{
	width: 100%;
	height: 696px;
	background-color: #F44242;;

}


.top{
	text-align: center;
	margin-top: 90px;
}

.top img{
	width: 240px;
height: 240px;
}


.middle{
	margin-top: 60px;
	text-align: center;
	font-family: Rubik;
	font-style: normal;
	font-weight: 500;
	font-size: 54px;
	line-height: 61px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
}

.silka{
	width: 100%;
	height: 100%;
	text-decoration: none;
}

.bottom{
	text-align: center;;
	margin: 90px auto 0;
	display: flex;
	justify-content: space-between;
	width: 603px;
	font-family: Rubik;
	font-style: normal;
	font-weight: 500;
	font-size: 42px;
	line-height: 51px;
	text-transform: uppercase;
	color: #FFFFFF;

}


.mobile_section_8{
	width: 100%;
	height: 300px;
}

.mobile_section_8 a{
	text-decoration: none;
	width: 100%;
	height: 300px;
	transition: 0.5s;
}


.top_1{
	text-align: center;
	margin-top: 78px;
}


.top_1 img{
	width: 48px;
	height: 48px;
}


.bottom_1{
	text-align: center;
	margin-top: 12px;
	font-family: Rubik;
	font-style: normal;
	font-weight: 500;
	font-size: 42px;
	line-height: 51px;
	text-transform: uppercase;
	color: #34363B;
}


.mobile_section_9{
	width: 100%;
	height: 300px;
	background: #F5F6F7;
}



.top_2{
	text-align: center;
	margin-top: 90px;
	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 51px;
	color: rgba(52, 54, 59, 0.8);
}


.bottom_2{
	text-align: center;
	margin-top: 33px;
	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 51px;
	color: rgba(52, 54, 59, 0.8); 
}


.modal_mobile{
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.96);
	display: none;
	top: 0;
	left: 0;
	position: fixed;



}




.modal_mobile p{ text-align: right; }



.close_img_mobile{
	margin: 78px 60px 0 0;
	width: 78px;
	height: 78px;

}




.modal_content_mobile{
	width: 930px;
	margin: 320px auto 0;
	position: relative;
}






.form_label_mobile{
	position: absolute;
	top: 0;
	left: 2px;
	z-index: 0;
	color: #9e9e9e;
	transition: 0.3s;
	font-family: Rubik;
	font-style: normal;
	font-weight: 500;
	font-size: 56px;
	line-height: 63px;
	color: #34363B;
}


.form_input_mobile{
	width: 100%;
	padding:10px 0;
	outline: none;
	border-right: none;
	background-color: transparent;
	outline: none;
	border-bottom: 3px solid rgba(52, 54, 59, 0.2);
	transition: 0.3s;
	font-family: Rubik;
	font-style: normal;
	font-weight: 500;
	font-size: 56px;
	line-height: 63px;
	color: #34363B;


}



.form_button_mobile{
     width: 100%;
     height: 240px;
	font-family: Rubik;
	font-style: normal;
	font-weight: 500;
	font-size: 42px;
	line-height: 51px;
	text-transform: uppercase;
	color: #FFFFFF;
	cursor: pointer;
	transition: 0.3s;
	background-color: rgba(244,66, 66, 1);
    margin-top: 606px;
}


.form_button_mobile img{
	width: 72px;
	height: 72px;
}

.form_button_mobile:focus, .form_button_mobile:hover{
		background-color: rgba(244,66, 66, 0.7);
}



.form_input_mobile:focus ~ .form_label_mobile,
.form_input_mobile:not(:placeholder-shown) ~ .form_label_mobile{
	top: -18px;
	font-size: 36px;
	color: #e0e0e0;
}




.close_mobile{
	text-align: right;
}

.close_mobile_2{
	width: 78px;
	height: 78px;
	margin-top: 78px;
	margin-right: 60px;
	cursor: pointer;
}


.menu_2_mobile{
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.96);
	display: none;
	top: 0;
	left: 0;
	position: fixed;
	
}


.menu_2_mobile ul li{
	list-style: none;
	margin-bottom: 150px;
}



.menu_2_mobile ul {
	margin: 302px 0 0 0;
	text-align: center;
}


.menu_2_mobile ul li a{
	margin-left: 2px;
	text-decoration: none;
	font-family: Rubik;
	font-style: normal;
	font-weight: 500;
	font-size: 54px;
	line-height: 63px;
	text-transform: uppercase;
	color: #34363B;
	transition: 0.3s;
}



.menu_2_mobile ul li a:hover{
	color: #F44242;
	text-decoration: underline;
	transition: 0.3s;
}








@media only screen
and (min-device-width: 1024px)
and (max-device-width: 1640px) {
  .section_2 ul li{
	
	 margin: 0 8px;  
}
.section_2 ul li a{
	
font-size: 12px;
}

.menu_2 ul {
	margin: 220px 0 0 139px;
}

}



@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px) {
 .section_2 ul li{
	
	 margin: 0 4px;  
}


.sloi_2_2{
 
	height: 192px;
}


.sloi_2_1{
 
	height: 192px;
}

.text h3{
  font-size: 18px;
}


.text h5{
	font-size: 12px;
}


.text h6{
	font-size: 12px;
}
.section_2 ul li a{
	
font-size: 12px;
}


.menu_2 ul {
	margin: 200px 0 0 100px;
}

.section_1{

	height: 192px;
	}

.section_2{

	height: 192px;
	}

.section_3{

	height: 192px;
	}

.section_4{

	height: 192px;
	}

.section_5{

	height: 192px;
	}

.section_6{

	height: 192px;
	}				

.section_7{

	height: 192px;
	}
.section_8{

	height: 192px;
	}
.section_9{

	height: 192px;
	}	

.section_10{

	height: 192px;
	}


.section_11{

	height: 192px;
	}

.section_12{

	height: 192px;
	}
.section_1 h4{
	
  	font-size: 18px;
}

.section_2 h4{
	
  	font-size: 18px;
}


.section_3 h4{
	
  	font-size: 18px;
}


.section_4 h4{
	
  	font-size: 18px;
}


.section_5 h4{
	
  	font-size: 18px;
}


.section_6 h4{
	
  	font-size: 18px;
}


.section_7 h4{
	
  	font-size: 18px;
}


.section_8 h4{
	
  	font-size: 18px;
}

.section_9 h4{
	
  	font-size: 18px;
}


.section_10 h4{
	
  	font-size: 18px;
}


.section_11 h4{
	
  	font-size: 18px;
}

.section_12 h4{
	
  	font-size: 18px;
}

}




@media only screen

and (max-device-width: 768px) {

.background{ display: none; }
.mobile{ display: block; }


	}